saml-service-jaxws/src/main/resources/wsdl/esi-saml.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.atosorigin.com/esi/saml/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="esi-saml"
	targetNamespace="http://www.atosorigin.com/esi/saml/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.atosorigin.com/esi/saml/">
			
			<xsd:complexType name="helloWorld">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="helloWorldResponse">
				<xsd:sequence>
					<xsd:element name="worldString" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="IdentityFault">
				<xsd:sequence>
					<xsd:element name="faultCode" type="xsd:unsignedInt"/>
					<xsd:element name="faultDescription" type="xsd:string"/>
					<xsd:element name="faultDetails" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="helloWorld" type="tns:helloWorld" />
			<xsd:element name="helloWorldResponse" type="tns:helloWorldResponse" />
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="helloWorldRequest">
		<wsdl:part element="tns:helloWorld" name="parameters" />
	</wsdl:message>
	<wsdl:message name="helloWorldResponse">
		<wsdl:part element="tns:helloWorldResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Saml">
		<wsdl:operation name="helloWorld">
			<wsdl:input message="tns:helloWorldRequest" />
			<wsdl:output message="tns:helloWorldResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SamlBinding" type="tns:Saml">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="helloWorld">
			<soap:operation
				soapAction="http://www.atosorigin.com/esi/samltest/helloWorld" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SamlService">
		<wsdl:port binding="tns:SamlBinding" name="SamlPort">
			<soap:address location="http://www.atosorigin.com/esi/saml" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>